$search-bar-bgd: #e6e2e9;
$filter-bar-bgd: #beb7bc;
$filter-bar-bgd-active: #e8def8;
$card-bgd: #f7f2fa;
$card-trash-clr-hover: #ff0000;
$container-modal-bgd: rgba(0, 0, 0, 0.3);
$modal-color: #79747e;

$brd-radius: 16px;